<h1>Create a Shift</h1>

<%= form_for (@shift) do |f| %>
    <%= f.label :shift_name %>
    <%= f.text_field :shift_name %><br>
    <%= f.label :shift_date %>
    <%= f.text_field :shift_date %><br>

    <p> Choose a Truck for the shift: </p>
    <%= f.collection_select :truck_id, Truck.all, :id, :unit_number %>

    <p> Or Create a new Truck: </p>
    <%= f.fields_for :truck do |t| %>
    <%= t.label :unit_number %>
    <%= t.text_field :unit_number %>
    <% end %> 

    <%= f.submit "Create Shift" %>

<% end %>