<h1>Create a Shift</h1>

<%= form_for (@shif) do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %><br>
    <%= f.label :date %>
    <%= f. :email %><br>
    <%= f.label :password %>
    <%= f.password_field :password %>

    <%= f.submit "Create Account" %>

<% end %>