<!DOCTYPE html>
<html>
  <head>
    <title>EMSSchedule</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    </head>

    <body>

    <div>
    
    
    <% if logged_in? %>
      <%= link_to 'All Shifts', shifts_path %>
      <%= link_to "Log out", logout_path, method: :delete %>
      <%= link_to "Create a Shift", new_shift_path %>
      <%= link_to 'Trucks', trucks_path %>       
    <% end %>

    </div>
    <%= yield %>
  </body>
</html>



